<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link type="text/css" href="/css/site.css" rel="stylesheet"/>
  <title>KML Simplifier</title>
  <script src="/js/jquery-1.4.2.min.js"></script>

</head>
<body>
  <div id="header"> 
    <h1>KML Simplifier</h1>
    <h4>This <a title="Keyhole Markup Language" href="http://en.wikipedia.org/wiki/Keyhole_Markup_Language">KML</a> compressor uses the Douglas-Peucker Algorithm to reduce the number of 
  vectors in your KML file. Adjust the tolerance to see how the polygon count is effected. Try this <a href="/california.kml">sample KML file</a>.</h4>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</body>
<html>
