<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link type="text/css" href="/css/site.css" rel="stylesheet"/>
  <title>KML Simplifier</title>
  <script src="/js/jquery-1.4.2.min.js"></script>

</head>
<body>
  <div id="header"> 
    <h1>KML Simplifier</h1>
    <h4>We'd advise you to play with the tolerance first, then decimal places. Tolerance of 0.01 is average, 1 is super-basic, 0.0001 is super-complex.</h4>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</body>
<html>
