body {
  margin:0; padding:0;
}
#header {
  height:120px;
  border-bottom:1px solid #ccc;
  clear:both;
}
#header h1 { float:left; margin-left:20px; font-family: 'Josefin Sans Std Light', arial, serif; }
#logo {
  background:transparent url(/images/logo.png) no-repeat;
  display:block;
  text-indent:-9999px;
  width:348px;
  height:88px;
  float:left;
}
#content { padding:10px; font-family: 'Josefin Sans Std Light', arial, serif; }
