body {
  margin:0; padding:0;
}
#header {
  border-bottom:1px solid #ccc;
  padding:20px;
}
#kml_form {
	border-bottom:1px solid #ccc;
	padding:20px;
}
h1, h2, h3, h4 { 
	font-family: 'Proxima Nova', sans-serif; 
}
#content { 
	font-family: 'Proxima Nova', sans-serif; 
	font-size:18px; 
}
#kml-loader { 
	width:1px;
	height:1px;
	visibility:hidden; 
}
#display {
	position:relative;
	padding: 20px;
	top: -40px;
}
#map-container {
	left:0px;top:0px;width:100%
}
#kml_output {
	display:none;
}